* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

svg {
    display: block;
    width: 100%;
    height: 100%;
    text-rendering: geometricPrecision;
}

circle {
    fill: white;
    stroke-width: 1;
}

path {
    fill: none;
    stroke-width: 5;
}

text {
    font-family: 黑体;
    text-anchor: start;
}

.subway-name {
    font-size: 12px;
}

select {
    position: fixed;
    top: 10px;
    right: 10px;
}


#subways-wrapper-map svg {
    margin-top: 100px;
}
#subways-wrapper-map image,
#subways-wrapper-map circle {
    cursor: pointer;
}
/* 地铁城市选择 */
#subways-wrapper-map .subways-city {
    height: 32px;
    left: 300px;
    line-height: 30px;
    max-width: 90px;
    overflow: hidden;    
    position: fixed;
    top: 10px;
    z-index: 12;
}
#subways-wrapper-map .subways-city .current-city {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    list-style: none;
    text-align: center;
    position: relative;
    width: 100%;
}
#subways-wrapper-map .subways-city .current-city:after {
    background: url(https://p.ssl.qhimg.com/t018cdadb7ae0ea9cf9.png) no-repeat;
    content: "";
    display: inline-block;
    height: 9px;
    transition: all .4s ease;
    width: 11px;
}
#subways-wrapper-map .subways-city ul {
    background: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 0;
    height: 200px;
    padding: 10px;
    text-align: center;
    width: 340px;
}
#subways-wrapper-map .subways-city ul li {
    color: #00a1f4;
    display: inline-block;
    font-size: 14px;
    padding: 0 5px;
}
#subways-wrapper-map .subways-city ul li:hover,
#subways-wrapper-map .subways-city ul .active {
    background: #00a1f4;
    color: #fff;
    cursor: pointer;
}
#subways-wrapper-map .selected-city {
    overflow: visible;
}
#subways-wrapper-map .selected-city .current-city {
    border-bottom-color: #fff;
    border-radius: 3px 3px 0 0;
}
#subways-wrapper-map .selected-city .current-city:after {
    transform: rotate(180deg);
}
#subways-wrapper-map .selected-city ul {
    margin-top: -1px;
}
/* 地铁线路标志 */
#subways-wrapper-map .subways-city-lines {
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 0;
    padding: 5px;
    position: fixed;
    right: 10px;
    text-align: center;
    top: 10px;
    max-width: 425px;
}
#subways-wrapper-map .subways-city-lines a {
    display: inline-block;
    font-size: 14px;
    padding: 5px;
    text-decoration: none;
}
#subways-wrapper-map .subways-city-lines a:hover,
#subways-wrapper-map .subways-city-lines .active {
    background-color: #ccc;
}
/* 气泡提示框 */
#subways-tooltip {
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    left: 0;
    line-height: 24px;
    padding: 2px 6px;
    position: absolute;
    text-align: center;
    top: 0;
    max-width: 100px;
    z-index: 10;
}
#subways-tooltip .subways-tooltip-icon {
    border-style: solid;
    border-width: 8px;
    border-color: #fff transparent transparent transparent;
    height: 0;
    position: absolute;
    left: 50%;
    bottom: -16px;
    margin-left: -8px;
    width: 0;
}
/* 站点首末车弹框 */
#subways-popover {
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    left: 300px;
    padding: 8px;
    position: absolute;
    top: 50px;
    width: 210px;
    z-index: 11;
}
#subways-popover:after {
    content: '';
    border-style: solid;
    border-color: #ccc transparent transparent transparent;
    border-width: 6px;
    bottom: -12px;
    left: 50%;
    margin-left: -6px;
    position: absolute;
}
#subways-popover .subways-popover-title {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 8px;
}
#subways-popover .subways-popover-list {
    list-style: none;
    font-size: 0;
    padding: 4px 0;
}
#subways-popover .subways-popover-list li {
    display: inline-block;
    font-size: 0;
    height: 18px;
    overflow: hidden;
    width: 50%;
}
#subways-popover .subways-popover-list li span {
    display: inline-block;
    font-size: 12px;
}
#subways-popover .subways-popover-list .dir {
    color: gray;
}
#subways-popover .subways-popover-list .flag {
    background-color: rgb(68, 109, 7);
    background-color: gray;
    color: #fff;
    padding-left: 0;
}
#subways-popover .subways-popover-list .time {
    padding: 0 3px;
}
#subways-popover .subways-popover-txt {
    color: #fff;
    font-size: 14px;
    text-align: center;
}

/* 路程信息 */
#subways-route {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    left: 300px;
    padding: 6px;
    position: absolute;
    top: 200px;
    width: 150px;
    z-index: 10;
}
#subways-route .subways-route-title {
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 130px;
}
#subways-route .subways-route-list {
    list-style: none;
    margin-top: 4px;
}
#subways-route .subways-route-list li {
    font-size: 0;
    margin: 5px 0;
}
#subways-route .subways-route-list li span {
    display: inline-block;
    font-size: 14px;
    width: 75px;
}
#subways-route .subways-route-list li .name {
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}
#subways-route .subways-route-list li .value {
    text-align: right;
}
#subways-route .subways-route-list .value em {
    color: red;
    font-style: normal;
    padding-right: 8px;
}
#subways-route .cancel {
    border: 1px solid #19b955;
    color: #19b955;
    cursor: pointer;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    width: 50px;
}