body {
    background: #ccd6e1;
    font-family: Arial, sans-serif;
}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
    line-height: 0;
    font-size: 0;
}
#game {
    margin: 0 auto;
}
#game h1 {
    text-align: center;
    margin-bottom: 5px;
    text-shadow: 0 1px 0 #fff;
}
#drawing-pad,
#canvas {
    border: 10px solid #fffeff;
    background: #f1f3ef;
    box-shadow: 0 3px 5px #333;
    float: left;
}
#history-wrapper {
    height: 400px;
    float: left;
    overflow: auto;
    margin-left: 20px;
}
#chat-history {
    list-style: none;
    padding: 0;
}
#chat-history li {
    border-bottom: 1px dashed rgba(20, 20, 20, .2);
    padding: 10px 0;
}
#chat-history li .user {
    color: #00a1f5;
}
#chat-history li .winner {
    color: red;
}
canvas {
    position: relative;
    background: #eee;
}
.operate {
    margin-top: 20px;
}
#restart {
    display: none;
}
.winner {
    color: #00a1f5;
    font-size: 16px;
}