.as-top-ul{
	background-color: #fff;
	color: black;
	font-size: 12px;
	display: box;
	display: -webkit-box;
}
.as-top-ul div{
	display: -webkit-box;
	-webkit-box-flex:1.0;
	height: 38px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
	border-top:1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
	position: relative;
}
.as-top-ul div span{
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
	content: '';
	display: inline-block;
	float: right;
	height: 4px;
	margin-left: 5px;
	margin-top: 4px;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	width: 4px;
}
.as-top-ul .open{
	color:#ffba13;
}
.as-top-ul .open span{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: 6px;
	border-top: 1px solid #ffba13;
	border-right: 1px solid #ffba13;
}
.as-top-ul div:after{
	position: absolute;
	width: 1px;
	height: 12px;
	border-left: 1px solid #eaeaea;
	content: "";
	right: 0px;
	top: 50%;
	margin-top: -6px;
}
.as-top-ul div:last-child:after{
	border:none;
	content: "";
}
.as-middle-part{
	color: #000;
	position: relative;
}
.as-middle-part .rp,.as-middle-part .lp{
	width: 50%;
    background-color: #eaeaea;

    overflow: hidden;
	overflow-y:auto;

	height: 288px;

	border-bottom: 1px solid #eaeaea;

	position: absolute;
	left: 50%;top: 0;
}
.as-middle-part .lp{

	background-color: #fff;
	left: 0;
	max-height: 288px;
	height: auto;
}
.as-middle-part .item{
	height: 38px;
	border-top: 1px solid #eaeaea;
	display: -webkit-box;
    -webkit-box-align:center;
}
.as-middle-part .item.item0{
	padding-left: 30%;
}
.as-middle-part .item.item1{
	-webkit-box-pack:center;
}
.as-middle-part .item.item2{
	-webkit-box-pack:center;
}
.as-middle-part .item.item3{
	padding-left: 10%;
	font-size: 12px;
	position: relative;
}
.as-middle-part .item:first-child{
	border-top: none;
}
.as-middle-part .item.select{
	background-color: #eaeaea;
	position:relative;
}
.as-middle-part .item.select:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	border-left: 4px solid #ffba13;
	height: 100%;
}
.as-footer-shadow{
	background-color: rgba(0,0,0,0.6);
	position: relative;
}

.as-middle-part .item.item3 .optionPop{
	width: 50px;
	height: 20px;line-height: 20px;
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 15px 15px;
	text-align: center;
	margin-left: 10px;
	background-color: #fff;
	color: #000;
}
.as-middle-part .item.item3 .optionPop.select{
	background-color: #ffba13;
	color: #fff;
}

.as-middle-part .confirm_btn{
	height: 50px;line-height: 50px;
	text-align: center;
	border-top: 1px solid #ddd;
	color:#fff;
}
.as-middle-part .confirm_btn a{
	background-color: #ffba13;
	text-align: center;
	display: inline-block;
	border-radius: 15px;
	width: 86px;
	height: 30px;line-height: 30px;
}

.iphoneBtn{
	width: 44px;
	height: 20px;
	border-radius: 15px 15px;
	overflow: hidden;
	display: block;
	position: absolute;
	background-color: #ffba13;
	top: 50%;margin-top: -10px;
	right: 10px;
	border: 1px solid #ffba13;
}

.iphoneBtn .btn{
	width: 180%;
	height: 100%;
	padding: 0px;
	position: absolute;	
	line-height: 100%;
	font-weight: bold;
	background: linear-gradient(to right,#ffba13 0%,#ffba13 47%,#fff 51%, #fff 100%);
	border-radius: 15px 15px;

	animation:action-off .5s;
	-moz-animation:action-off .5s;
	-webkit-animation:action-off .5s;
	-o-animation:action-off .5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.iphoneBtn .btn:after {
	content: "";
	width: 25px;
	height: 90%;
	border-radius: 15px;
	position: absolute;
	left: 23%;top:2%;
	background: #fff;
	border: 1px solid #ffba13;
}
.iphoneBtn .btn.select{

	animation:action-on .5s;
	-moz-animation:action-on .5s; 
	-webkit-animation:action-on .5s; 
	-o-animation:action-on .5s; 
}

@keyframes action-on
{
0%   {left:-43%;}
100% {left:0;}
}

@-moz-keyframes action-on /* Firefox */
{
0%   {left:-43%;}
100% {left:0;}
}

@-webkit-keyframes action-on /* Safari and Chrome */
{
0%   {left:-43%;}
100% {left:0;}
}

@-o-keyframes action-on /* Opera */
{
0%   {left:-43%;}
100% {left:0;}
}
@keyframes action-off
{
0%   {left:0;}
100% {left:-43%;}
}

@-moz-keyframes action-off /* Firefox */
{
0%   {left:0;}
100% {left:-43%;}
}

@-webkit-keyframes action-off /* Safari and Chrome */
{
0%   {left:0;}
100% {left:-43%;}
}

@-o-keyframes action-off /* Opera */
{
0%   {left:0;}
100% {left:-43%;}
}