html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0
}
html{
  height: 100%;
}
body {
    position:relative;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background: #eee;
    color: #333;
    font-family: '-apple-system','Arial','Helvetica','sans-serif';
    -webkit-font-smoothing: antialiased;
}
html[data-haosou-night-mode="night"] body{
    background: #555!important;
}
html[data-haosou-night-mode="night"] #mapDiv {
    margin-top:-1px;
}
html[data-haosou-night-mode="night"] #CTextDiv{
    z-index: 101!important;
}
em,i{
    font-style: normal
}

ul, li, ol {
    list-style: none
}

a:link, a:visited {
    text-decoration: none;
}
input {
    outline-style: none
}
input, select {
    margin: 0;
    padding: 0;
    /*-webkit-appearance: none;*/
    border-style: none
}
/*夜间模式适配*/
html[data-haosou-night-mode="night"] #CategoryDiv .cats-all{
    opacity : .5
}
.view-mode-map{
    width: 100%;
    height: 100%;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
.view-mode-map #bodyMain{
    width: 100%;
    position:relative;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}
.view-mode-map #mapDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    z-index: 100;
}
.__view__name__search_index .g-header-v2 .g-header-logo{
    width: 155px;
    background: url(/static/img/logo_map.png) no-repeat;
    background-size: 100% 100%;
}
.__view__name__search_index .g-header-subchannel{
    display: block!important;
}
.__view__name__search_index .g-header-nav{
    display: none!important;
}
.__view__name__search_index #hd-m-home,.__view__name__search_enter #hd-m-home,.__view__name__search_nearby #hd-m-home,.__view__name__search_map #hd-m-home,.__view__name__search_list #hd-m-home,.__view__name__search_categories #hd-m-home,.noHeader.__view__name__search_enter #hd-m-home,.noHeader.__view__name__search_index #hd-m-home,.__view__name__search_map_list #hd-m-home{
    position: relative!important;
    left: 0!important;
}

.noHeader #hd-m-home{
    position: absolute!important;
    left: -10000px!important;
}

/*android浏览器 统一顶部导航跟搜索框*/
.__header_mso__ #hd-m-home{
    display: none!important;
}
.__header_mso__ #mapDiv{
    height: 100%;
}
.__header_mso__ #amap{
    height: 100%!important;
}
.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.showAllcategory > div{
    display:none!important;
}
#CategoryDiv{
    background:#fff;
}

#effect-dialog {
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -1.5em;
    z-index: 2000;
    text-align: center;
    width: 100%;
}

#effect-dialog > div {
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    border: 1px solid #a9a9a9;
    background-color: #fff;
    box-shadow: 0px 1px 1px #c5c5c5;
    padding: 2px 10px;
    display: inline-block;
}

#header {
    text-align: center;
    position: relative;
    z-index: 101;
    background:#fff;
}

#header .clear,#lineDiv .clear{
    position: absolute;
    right:0px;
    top:7px;
    width:15px;
    height:15px;
    background: url('/img/close.png') no-repeat;
    background-size: 15px 15px;
    display: none;
}

/* header */
.ios .noIos{display:none; }

#locationtips{text-align:left;padding:5px 10px;color:#999;border-bottom:1px solid #dddddd;display:none;position:relative;z-index:1;background:#EEEEEE}
#locationtips .title{position:relative;color:#333;display:inline-block;padding:0 20px 0 5px;border:1px solid #999;margin:0 5px;}
#locationtips .close{position:absolute;display:block;background:transparent;height:25px;line-height:25px;top:0;right:0;width:20px;font-family:helvetica, arial, sans-serif;font-size:25px;color:#9c9c9c}
#locationtips.active{display:block}

#searchInputBoxHistory,#qHistory{
    position:absolute;
    width:100%;
    border-bottom:1px solid #dddddd
}
#searchInputBoxHistory .suggest-content,#qHistory .suggest-content{
    border-top: 1px solid #ddd;
}
#lineStartInputBoxHistory,#lineEndInputBoxHistory{
    border: 1px solid #ddd;
    border-top: 0;
}
.suggest-container, .suggest-container * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.suggest-container {
    display: none;
    border-top: 0;
    z-index: 1100;
    background: white
}

.suggest-item, .suggest-toolbar {
    display: -webkit-box;
    -webkit-box-pack: start;
    -webkit-box-align: stretch;
    position: relative;
}

.suggest-toolbar {
    -webkit-box-pack: end;
    color: #969696;
    background-color: #f8f8f8
}

.suggest-item-title {
    display: block;
    color: #333;
    font-size: 14px;
    font-family: 'Microsoft YaHei', arial, sans-serif;
    -webkit-box-flex: 1;
    background: none transparent;
    -webkit-appearance: none;
    text-align: left;
    border: 0;
    /* border-bottom: 1px solid #e2e2e2; */
    line-height: 21px;
    padding: 15px 0;
    position: relative;
}
.suggest-item:last-child:after{
    border-top: 0;
    content: '';
}

.suggest-route .suggest-item-title{
    position: relative;
    margin: 0 5px 0 44px;
}
.suggest-route .suggest-item-title:after{
    border-top: #eaeaea solid 1px;
    width: 200%;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    transform: scale(.5);
    content: '';
    position: absolute;
    bottom: 0;left: 0;
}

.suggest-item-add {
    border: 0;
    border-bottom: 1px solid #ddd;
    display: block;
    width: 52px;
    background: url('//p0.ssl.qhimg.com/t0129eae3267053f012.png') no-repeat scroll center center white;
    background-size: 13px 11px
}

.suggest-item-title .hint{
   font-weight: bold;
}
.suggest-item-title .district{
    font-size: 12px;
    color: #aaa;
    margin-left: 3px;
}
.suggest-item-title .arrow{
    display: inline-block;
    width: 13px;
    height: 8px;    
    background: url('/static/img/history-arrow.png') no-repeat 0 0;    
    background-size: 13px 8px;
    margin: 0 2px;
}
.suggest-clearhistory{
    display: none;
    text-align: center;
    line-height: 16px;
    position: relative;
    font-size: 12px;
    color: #626262;
    padding: 12px 0;
}


.suggest-history .history-head {
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    font-weight: 700;
    color:#626262;
    padding: 15px 0 15px 15px;
    border-bottom: #eee solid 1px;
}
.suggest-history .suggest-clearhistory {
    color: #999;
    font-size: 12px;
    display: block;
    margin-bottom: 50px;
}
.suggest-history.suggest-route{
    position: relative;    
}
.suggest-history.suggest-route:before{
    content: '';
    position: absolute;
    top: 18px;
    left: 17px;
    width: 15px;
    height: 15px;
    background: url(/img/clock.png) no-repeat 0 0;
    background-size: 15px 15px;
}

.nearby-geolocate {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    height: 38px;
    margin-top: 6px;
    z-index: 10;
}
.nearby-geolocate .geo-btns{
      color: #00be3c;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      right: 10px;
      z-index: 999;
      line-height: 40px;
      height: 40px;
      font-size: 14px;
}
.nearby-geolocate .geo-btns.logout{
    /*display: none;*/
}
.nearby-geolocate .geo-btns.login.new{
    background: no-repeat url('//p0.ssl.qhimg.com/t017c837efaf1fd3c88.png') 30px 14px;
    background-size: 5px 5px;
}
.nearby-geolocate .geo-btns.login{
      color: #00be3c;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      right: 10px;
      z-index: 999;
      line-height: 40px;
      height: 40px;
      /*display: none;*/
}
.nearby-geolocate .geo-btns.login a:first-child{
    display: inline-block;
    font-style: normal;
    margin-right: 10px;
    color: #00be3c;
}
.nearby-geolocate .geo-btns.login a:last-child{
    margin-left: 10px;
    display: inline-block;
    color: #00be3c;
}
.nearby-geolocate .geo-btns.login span{
    width: 1px;
    height: 14px;
    position: absolute;
    border-left: 1px solid #eaeaea;
    left: 50%;
    top: 50%;margin-top: -7px;
}

.nearby-geo-box{
    position:relative;
    /*border-top: solid 1px #dddddd;*/
    font-size: 14px;
    background: rgba(255,255,255,0.9);
    height: 40px;
    line-height:37px;
    padding:0 35px;
    color: #222;
}
.nearby-geo-box:before{
    border-top: #ddd solid 1px;
    width: 200%;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    content: '';
    position: absolute;
    top: 0;left: 0;
}
.nearby-geo-box .geolocation_icon{
    position:absolute;
    left:10px;
    top:10px;
    width:12px;
    height:19px;
    background:url("//p0.ssl.qhimg.com/t019c344962fa8333b6.png") no-repeat 0 0;
    background-size:12px 19px;
}

.nearby-geo-box .regeolocate,.search_enter .loc .regeolocate{
    display:none;
    position:absolute;
    right:0;
    top:0;
    width:35px;
    height:40px;

}
.search_enter .loc .regeolocate{
    top:6px;
}
.nearby-geo-box .regeolocate em,.search_enter .loc .regeolocate em{
    position: relative;
    left: 10px;
    top: 10px;
    display: block;
    width:14px;
    height:14px;
    background:url("//p0.ssl.qhimg.com/t01e6dff78cb1c2b701.png") no-repeat -17px 0;
    background-size:31px 18px;
}


.js-locationTips{
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    height:40px;
    max-width: 75%;
    overflow: hidden;
    display: inline-block;
    line-height: 40px;
    margin-top: -1px;
}

.nearby-geo-box>div:nth-child(2){
   padding:7px 0;
}


@-webkit-keyframes rotate{
    from{-webkit-transform:rotate(0deg)}
    to{-webkit-transform:rotate(360deg)}
}
.load-more{
    /*position: absolute;
    bottom: 100px;
    height: 1px;*/
    height:120px;
    background: #fff;
    text-align: center;
    line-height: 120px;
    font-size: 14px;
    overflow: hidden;
}
.load-loading{
    position:relative;
    bottom:0!important;
    height: 120px!important;
}
.load-more .logo-icon{
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-name:rotate;
    -webkit-animation-timing-function:linear;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAABGklEQVR42u2aPWoCURhFBUdBq0DchKVdAtaCaVLqKtyA2hsURd2AbdJbaCFkJynSxD/EwkbweduEuaaymDv3wFnAgZk3b773MsYYY4wxxpg7sKrmYB9u4B6OYV45eALDH3uqsTV4iQneKcYW4RcMaQluw0AcqcU+wiOJ/YYFteAuDMSG4mfoh8QuFd/dVxJ7gRXF4HcSvFCMzcIDCW4qBj+R2BMsKAa3SPBcdSs5I8Ed1eBPEvyiGcz3zmXNYL5CP6gGn0lw5GA/0l60Ev1Zqnvj4a1lMoOf0/bzEMGD5miHR3/cGgB4xCMyxFv/N8TzmDbhwSXdQTyP7sBAHPowzcelyY2exgS/qV95GMDtrysPxhhjjDHGmNRxBQwo382bLN+dAAAAAElFTkSuQmCC);
    background-size:30px 30px;
    -webkit-background-size:30px 30px;
    display:inline-block;
    height:30px;
    vertical-align:middle;
    width:30px
}
.load-more[data-class=loading]::after {
    content: '加载中…';
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.load-more[data-class=content]::after {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.normal-user-loading{
    height: 3em;
    line-height: 3em;
}
#mso-goto-top {
    display: none;
    position:fixed;
    z-index:1000;
    bottom:60px;
    right:20px;
    width: 36px;
    height: 36px;
    background-image: url(/static/img/gotop.png);
    background-size: 100% 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
    opacity: 0;
    -webkit-transition: opacity ease-in-out .2s;
    pointer-events: none;
}
.__view__name__search_list #mso-goto-top {
    display: block;
}
#mso-goto-top.show {
    opacity: 1;
    pointer-events: auto;
}

.new_location_tip{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #f07814;
    opacity: .9;
    background-color: #fff4e6;
    z-index: 10;
    overflow: hidden;
}
.hiddenGeolocate{
    -webkit-animation-name: 'hiddenLocation';
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count:1;
}
@-webkit-keyframes hiddenLocation{
    from{
        -webkit-transform:translateY(0);
    }
    to{
        -webkit-transform:translateY(40px);
    }
}
.showGeolocate{
    -webkit-animation-name: 'showLocation';
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count:1;
}
@-webkit-keyframes showLocation{
    from{
        -webkit-transform:translateY(0);
    }
    to{
        -webkit-transform:translateY(-40px);
    }
}