article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input {
    margin: 0;
    padding: 0;
    border: 0
}

#lineDiv .clear{top: 9px;}

.focusing:not(.empty) .search-box-reset {
    display: block
}

#bottom-search-box-wrapper {
    margin-top: 6px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD
}




#nav-container {
    display: none;
    position: absolute;
    top: 45px;
    z-index: 20;
    left: 6px;
    right: 6px
}

#nav-container.show {
    display: block
}

#arrow {
    background: url(../img/upArrow_24x12.png);
    width: 12px;
    height: 6px;
    position: relative;
    background-size: 100% 100%;
    left: 16px
}

#products-nav {
    height: 70px;
    background: #e8e8e8;
    padding: 0 8px;
    font-size: 14px
}

#products-nav li {
    float: left;
    width: 33%;
    height: 58px;
    padding-top: 10px
}

#products-nav .w33 {
    width: 33%
}

#products-nav .w34 {
    width: 34%
}

#products-nav li.active {
    border-bottom: 2px solid #09be00
}

#products-nav li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 58px
}

#products-nav .nav-text {
    height: 28px;
    line-height: 28px;
    color: #333
}

#products-nav .le-figure.active .nav-text {
    color: #09be00
}

#products-nav .nav-img {
    height: 30px
}

#products-nav img {
    height: 30px
}
