html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}
ol,ul {
	list-style: none
}
blockquote,q {
	quotes: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
body {
	position:relative;
	background:#f2f2f5;
	color: #222;
	font-size: 14px;
	font-family: 'Microsoft YaHei',Hei,arial,sans-serif;
	font-size-adjust: none;
	/*min-width: 320px;*/
	-webkit-text-size-adjust: none;
	word-break: break-all;
	word-wrap: break-word
	height:100%;
}
a {
	color: #333;
	text-decoration: none
}
input,button,textarea,select {
	border: 0;
	outline: none
}
blockquote:before,blockquote:after,q:before,q:after {
	content: none
}
input[type="search"]::-webkit-search-cancel-button {
	display: none
}
a,a:visited {
	color: #03c;
	text-decoration: none
}
.fill-all {
	-webkit-box-flex: 1
}
.g-clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	line-height: 0;
	visibility: hidden;
}
.g-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.shangmen-header-bar {
  display: -webkit-box;
  height: 49px;
  line-height: 49px;
  border-bottom: 1px #dddddd solid;
  background: #FFF;
}
.shangmen-header-bar .goback {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAkCAYAAACNBsqdAAABTUlEQVRIS7XWMUrEQBQGYAdhz5DcwNJKWNuAnWVA0EJESYQcIoewSEAWF7ZLaSekXa08gmCVO2g0/rO4y6ybZOa9eQYCSfMx+Zn5X9TeP11KwFVlWR7BeU2S5HPt+cIavQd2hfupaZrTPM8/NO4Dm+hqoV3XHadp+uwD76DAZojiWvtcuBdFDDeI4ZubsRNKXbEzSoFJqCtMRl1gFmqD2egY7IUOwd5oHyyC/oXFUBMWRTdwURRTpdRyfc7RUm94PzD7ldrbq9pEeUzCMHzE44mBL+q6vqyq6ouKbmWs8SAIZljpuQS+VfRxHO9HUTSXwHcmiBTeO5ok8MGZ54uPDlMf3DqlubgV1luPgzvBHNwZpuIk2MAfcIguxk4oGXbFWfAIXuDf7dY2TK2l9rtbNrGgbl8AT71hY+V3eD5s2/Ysy7J3EXjos9gZ23L6AUnERTSCgdKgAAAAAElFTkSuQmCC") no-repeat center center;
  background-size: 11px 18px;
  height: 35px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 38px;
  cursor: pointer;
}
.shangmen-header-bar .header-label {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 20%;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #222222;
  text-align: center;
  font-size: 16px;
}

/*文章*/
.main{
	display:-webkit-box;
	padding:0 15px; 
	height:100%;
	margin-top:10px;
}
.clearfix:after{
	display: block;
	content: ' ';
	line-height: 0;
	clear: both;
	visibility: hidden;
}
.services li{
	float:left;
	width:50%;
	margin-bottom:10px;
}
.services li:nth-child(odd) .service-inner{
	padding-right:5px;
}
.services li:nth-child(even) .service-inner{
	padding-left:5px;
}
.services li img{
	display:block;
	width:100%;
}
.services li .title{
	height:30px;
	padding:0 10px;
	border-radius:0 0 8px 8px;
	line-height:30px;
	color:#4c4c4c;
	font-size:12px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align:center;
	white-space: nowrap;
	background:#fff;

}
