* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

svg {
    display: block;
    width: 100%;
    height: 100%;
    text-rendering: geometricPrecision;
}

circle {
    fill: white;
    stroke-width: 1;
}

path {
    fill: none;
    stroke-width: 5;
}

text {
    font-family: 黑体;
    text-anchor: start;
}

.subway-name {
    font-weight: bold;
    font-size: 16px;
}

select {
    position: fixed;
    top: 10px;
    right: 10px;
}