@charset "UTF-8";
html,body,.bodyMainContent,.mainWrap,.mainBox {
    height: 100%;
    width: 100%;
}
.bodyMainContent{
    background: #fff;
}
.mainWrap {
    display: none;
    background: rgba(0,0,0,0.5);
}
.zindex5 {
    z-index: 5;
}
.mainBox {
    background: #eaeaea;
}
.bodyMainContent .mainBox {
    position: relative;
}
.bodyMainContent .mainCon {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
#invoiceBoxCon .mainCon{
    background: #eee;
}

.mainConBody{
    padding-bottom: 55px;
}
.bodyMainContent .hotelListMainCon,
.bodyMainContent .orderStatusMainCon {
    bottom: 0;
}
.bodyMainContent .mainBoxBt {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 55px;
    background: #fff;
    border-top: 1px solid #eaeaea;
    padding:0 10px;
}
#assureBox{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#roomRetainTo{
    overflow: hidden;
}
.bodyMainContent .assureMainCon .mainConBody{
    padding-bottom:160px;
}
.bodyMainContent .assureMainBoxBt {
    height: 160px;
    padding-top: 8px;
    border-top: 10px solid #eaeaea;
}
.assureMainBoxBt .btnBlock {
    margin-top: 5px;
}
.clauseTxt,.cancelClauseTxt {
    font-size: 12px;
}
.clauseTxt {
    color: #ff6600;
}
.cancelClauseTxt {
    color: #999999;
}

.invoiceWrap {
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    display: none;
    height: 100%;
}
.invoiceWrap .mainBox {
    background: #eee;
    width: 100%;
}
.btn {
    display: inline-block;
    background: #00be3c;
    color: #fff;
    font-size: 14px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    border-radius: 2px;
}
.g-bg-ccc {
    background: #ccc;
}

.btnPay {
    width: 104px;
}
.btnInvoiceInfo {
    display: block;
    width: 100%;
}

.g-pd-10 {
    padding:10px;
}
.g-pd-l-10 {
    padding-left:10px;
}
.g-marin-l--7 {
    margin-left:-7px;
}
.g-cl-orange {
    color: #ff6600;
}
.g-cl-999 {
    color: #999;
}
.g-cl-333 {
    color: #333;
}
.g-pd-r-75 {
    padding-right: 75px;
}

.row,.timeBox li,.hotelList li,.basicInfo li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.cell,.flex1 {
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.colLayout {
    -webkit-flex-direction: column;
    flex-direction: column;
}
.verCenter,.timeBox li {
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.horCenter {
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-justify-content:center;
    justify-content:center;
}
.o-fix {
    overflow: hidden
}
.c-fix:before,
.c-fix:after {
    display: table;
    content: '.';
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}
.c-fix:after {
    clear: both;
}
.c-fix {
    *zoom: 1;
}
.ellipsis,.cellElli,.hotelList h4,.hotelList .info,.provinceUl li {
    overflow: hidden;
    outline: 0 !important;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.cellElli {
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.ellipsisNum {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}
input[type=submit],
input[type=reset],
input[type=button]{
    filter:chroma(color=#000000);
}
::-webkit-input-placeholder {
    line-height: normal;
    text-align: right;
}

button {
    width: auto;
    overflow: visible;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 100%;
    -webkit-appearance:none;
    font-weight: normal;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    color:#333;
    font: normal 14px/1.5 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
img {
    vertical-align: middle;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol, ul {
    list-style: none
}

a, button, input {
    outline: 0
}

em{
    font-style: normal;
}

a{
    color: inherit;
    text-decoration: none
}
a:focus,a:hover,a:visited {
    text-decoration: none;
    outline: 0
}
a:active,a:hover {
    outline: 0
}
html {
    -webkit-text-size-adjust: 100%;
}

html,body{
    width:100%;
    overflow: hidden;
    overflow-y:auto;
}

#c-alert{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 100000;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    display: none;
}
#c-alert div{
    height: 120px;
    -webkit-box-flex:1.0;
    box-flex:1.0;
    background-color: #fff;
    padding: 16px;
    margin: 10px;
    border-radius: 5px;
}
#c-alert div p{
    line-height: 1em;
    text-align: center;
    font-size: 14px;
}
#c-alert .msg{
    margin:20px 0 35px 0;
    font-size: 12px;
}
#c-alert .btns{
    height: auto;
    padding: 0;
    display: box;display: -webkit-box;
}
#c-alert a{
    display: block;
    box-flex:1.0;
    -webkit-box-flex:1.0;
    margin-right: 10px;
    background-color: #ffba13;
    line-height: 40px;height: 40px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}
#c-alert a:last-child{
    margin-right: 0;
}
#container{
    background-color: #eaeaea;
    height: 100%;
    overflow-y:auto;

    /*-webkit-animation: zoomout 0.5s cubic-bezier(0, 0.6, 0.6, 1) both,fade 0.5s ease both;*/
}
#attach-container{
    position: absolute;
    z-index: 999;
    width: 100%;
}

#effect-dialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
	height:100%;
    text-align: center;
    z-index: 2000;
}
#effect-dialog > div {
	position:relative;
    margin-top: -1.5em;
    left: 0;
    top: 50%;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    box-shadow: 0 1px 1px #c5c5c5;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    padding: 2px 10px;
    text-align: center;
    vertical-align: middle;
}
.normal-user-loading {
    height: 3em;
    line-height: 3em;
}
.load-more {
    background: #eee;
    font-size: 14px;
    /*height: 120px;
    line-height: 120px;*/
    overflow: hidden;
    text-align: center;
}
.load-more .logo-icon {
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: rotate;
    -webkit-animation-timing-function: linear;
    background-image: url(//p0.ssl.qhimg.com/t019f23e0a0a60a7dc0.png);
    background-size: 30px 30px;
    -webkit-background-size: 30px 30px;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    width: 30px;
}
.load-more[data-class=loading]::after {
    content: '加载中…';
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
@-webkit-keyframes rotate{
    from{-webkit-transform:rotate(0deg)}
    to{-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes fade{
    from{opacity: 0;}
    to{opacity: 1;}
}
@-webkit-keyframes zoomout {
    0% {
        opacity: 0;
        -webkit-transform: scale(10)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
}

body {
    background: #eeeeee;
}
.topbar {
    height: 50px;
    text-align: center;
}
.box {
    background: #fff;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
}
.iconArrow {
    background: url(//p0.ssl.qhimg.com/d/inn/9adda18f/ico-goback.png) no-repeat 0 0;
    background-size: 50px 85px;
}
.arrow {
    /*uc浏览器在出现flex：1同时出现在同一个容器时，如果不设置为block，宽高设置无效*/
    display: block;
    width: 35px;
    height: 35px;
    background-position: 0 -50px;
}
.topbar .goBack {
    width: 50px;
    height: 50px;
}
.topbar .title {
    font-size: 16px;
    color: #222;
    padding-right: 50px;
}
.topbar .statusTitle {
    padding-right: 0;
}
.timeBox li {
    padding-left: 10px;
    height: 35px;
    border-bottom: 1px solid #eaeaea;
}
.timeBox li input {
    border:none;
    width: 95px;
    font-size: 14px;
    background: transparent;
}
.timeBox li:last-child,
.hotelList li:last-child {
    border-bottom: none;
}
.hotelList {
    color: #999;
}
.hotelList li {
    padding:10px;
    border-bottom: 1px solid #eaeaea;
}
.hotelList .listImg {
    width: 80px;
    height: 62px;
    margin-right: 10px;
}
.hotelList h4 {
    color: #333;
    font-size: 16px;
}
.hotelList .info {
    /*padding-right: 53px;*/
}
.hotelList .info span {
    margin-right: 5px;
}
.hotelList .info span:last-child {
    margin-right: 0;
}
.hotelList .price {
    color: #ff6600;
}
.dingBox {
    height: 0;
    position: relative;
    text-align: right;
}
.btnBook {
    display: block;
    color:#00be3c;
    width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border:1px solid #00be3c;
    border-radius: 3px;
}
.dingBox .btnBook {
    position: absolute;
    bottom:0;
    right: 0;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}

@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    from, 60%, 75%, 90%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 1;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 1;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes flipInX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


@-webkit-keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

.basicInfo li {
    padding: 0 10px;
    border-bottom: 1px solid #eaeaea;
}
.basicInfo>li:first-child {
    padding-right: 0;
}
.cardInfo>li:first-child {
    padding-right: 10px;
}
.invoiceWrap .basicInfo>li:first-child {
    padding-right: 10px;
}
.invoiceWrap .basicInfo .iconArrow {
    display: block;
    margin: 3px -10px 0 -10px;
}
.basicInfo li:last-child {
    border-bottom: none;
}
.basicInfo li {
    height: 40px;
    line-height: 40px;
}
.basicInfo .checkInBox {
    height: auto;
    padding: 0;
}
.basicInfo .checkInBox ul {
    width: 100%;
}
.basicInfo .cell {
    text-align: right;
}
.basicInfo .checkInBox {
}
.basicInfo .cell input {
    border:none;
    background: transparent;
    padding:0;
    margin:0;
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-family: '微软雅黑', Arial, Helvetica, 'LiHei Pro Medium';
    text-align: right;
}
.invoiceH3 {
    height: 40px;
    border-bottom: 1px solid #eaeaea;
    margin: -10px -20px 5px -10px;
}
.invoiceSelect {
    background: url(//p0.ssl.qhimg.com/d/inn/c8c02dbf/selcet.png) no-repeat 0 0;
    background-size: 40px 80px;
    width:40px;
    height: 40px;
    display: none;
}
.invoiceClick {
    background-position: 0 -40px;
}
.totalPrice {
    font-size: 19px;
    vertical-align: -2px;
}

.iconAddReduce {
    background: url(//p0.ssl.qhimg.com/d/inn/48749450/iconorder.png) no-repeat 0 0;
    width: 40px;
    height: 40px;
    background-size: 80px 80px;
    display: inline-block;
    color: transparent;
    vertical-align: middle;
}
.iconAdd {
    background-position: -40px 0;
}
.iconAdd.grayio {
    background-position: -40px -40px;
}
.iconReduce {
    background-position: 0 0;
}
.iconReduce.grayio {
    background-position: 0 -40px;
}

.popBoxWrap,.alertBox {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 5;
    overflow: hidden;
    display: none;
}
.alertBody {
    height: 100%;
    width: 100%;
}
.alertCon {
    background: darkorange;
    padding: 10px 12px;
    max-width: 80%;
    color: #fff;
    border-radius: 3px;
}
.popTop {
    height: 40px;
    line-height: 40px;
    background: #eee;
    border-bottom: 1px solid #eaeaea;
}
.popOk {
    background: #00be3c;
    color: #fff;
}
.citySlectBox {
    height: 100%;
}
.popConBox {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    padding : 0;
    text-align: center;
}
.popCon {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}
.invoiceTypePop {
    height: 180px;
}
.height100 {
    height: 100px;
}
.height200 {
    height: 200px;
}
.invoiceTypeCon li {
    padding:10px 0;
    border-bottom: 1px solid #eee;
}
.provinceUl {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 1px solid #eaeaea;
}
.provinceUl li {
    padding:5px 0;
    border-bottom: 1px solid #f4f3f3;
}
.invoiceTypeCon li.active,.provinceUl li.active {
    background: #d7fabd;
}

.errnoBox {
    background: transparent;
    padding: 20px 15px;
    color: #999;
    text-align: center;
    font-size: 12px;
    line-height: 1.8;
}
.roomCategoryBox {
    margin-top: 10px;
    display: none;
}
.roomCategory {
    border-top: 1px solid #eaeaea;
    margin-right: -10px;
    padding: 5px 10px 5px 0;
}
.hotelList .roomCategoryBox .roomCategory:last-child {
    margin-bottom: -10px;
}
.hotelListMore {
    padding: 10px 10px 0 10px;
    text-align: center;
    border-top: 1px solid #eaeaea;
    margin-right: -10px;
    margin-top: 10px;
    margin-left: -100px;
}

.basicInfo .selfPayLi {
    padding-right: 0;
    border-bottom: 10px solid #eeeeee;
    height: 50px;
}
.basicInfo .selfPayLi .arrow {
    margin-top: 2px;
    margin-left: -7px;
}
.hasGiveUp {
    padding: 10px;
    color: orange;
    background: lightyellow;
}
.btnBlock {
    display: block;
}
.cardTips {
    padding: 15px 20px;
    color: #ccc;
    text-align: center;
}
.arrowBlock {
    margin: 3px -10px 0 -10px;
    display: block;
}
.space {
    width: 10px;
}
.idCodeBox {
    padding: 10px;
    margin:10px -10px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    color:#999;
}
.orderinfoBox {
    color:#999;
    text-align: center;
    padding: 10px;
}
.statusSuccess {
    padding-top: 10px;
    color:#00be3c;
    font-size: 16px;
    text-align: center;
}
.statusFail {
    padding-top: 10px;
    color:#ff6600;
    font-size: 16px;
    text-align: center;
}
.ico-sucessFail {
    display: inline-block;
    background: url(//p0.ssl.qhimg.com/d/inn/70e272b8/status.png) no-repeat 0 0;
    width: 21px;
    height:21px;
    background-size: 21px 42px;
    vertical-align: middle;
    margin-right: 5px;
}
.ico-sucess {
    background-position: 0 0;
}
.ico-fail {
    background-position: 0 -21px;
}
